.main-service__title-sub a {
  text-decoration: underline;
}
.footer-info__mail {
  display: inline-block;
}
.top-line-loc-el--mail {
  margin-left: 15px;
}
.footer-mail {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.footer-mail .icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
.advance--single {
  margin-top: 20px;
}
.advance--single .advance-icon {
  padding: 20px;
}
.advance--single .advance-icon .icon {
  width: 40px;
  height: 40px;
}
.advance--single .advance-text {
  font-size: 14px;
  width: 80%;
  margin-left: 20px;
}
.advance--single-title {
  font-size: 18px;
  margin: 40px 0;
  text-align: center;
}
.news__el {
  width: 31%;
}
li {
  line-height: 1.6;
}
.cost-inform--calc {
  margin-bottom: 30px;
}
.lp-baner-filter {
  background: rgba(255,255,255,0.9);
}
.list-items {
  list-style: none;
  padding-left: 0;
}
.list-items span {
  font-weight: bold;
}
.footer-info-wrap {
  width: 25%;
}
#vk_groups {
  margin-top: 20px;
  width: 100%;
}
.footer-container {
  align-items: flex-start;
}
.get-sale__add-text {
  text-align: center;
  margin-bottom: 30px;
  margin-top: -20px;
}
.footer-list__menu li {
  font-size: 14px;
}
.footer-list__menu .menu-item {
  text-transform: initial;
}
.section-title-sub {
  margin-top: -20px;
  margin-bottom: 40px;
}
.main-service__col-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-service__col-wrap .main-service__el {
  width: 49%;
}
.main-service__col {
  width: 100%;
  margin-bottom: 30px;
  border: 0 !important;
}
.menu-wrap li {
  margin-bottom: 0;
}
.section--main-service {
  padding: 50px 0 0 0;
}
.box--sm p {
  font-size: 14px;
}
.lp-small-head {
  padding: 100px 0;
  height: auto;
}
.lp-small-head .lp-baner__wrap {
  justify-content: center;
}
.lp-small-head .lp-baner__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.lp-small-head .lp-baner__title {
  text-align: center;
  font-size: 32px;
}
.lp-small-head .lp-baner__title-sub {
  text-align: center;
}
.lp-small-head .header__get {
  justify-content: center;
}
.box--sm p {
  font-size: 14px;
}
.box--sm li {
  font-size: 14px;
}
.section--tablet {
  padding: 50px 0;
}
.section--tablet .section-call {
  width: 100%;
}
.cost-inform {
  font-size: 12px;
}
.get-sale-row {
  margin-top: 30px;
}
.menu-mobile-calc {
  display: none !important;
}
.link--mark {
  text-decoration: underline;
}
.header-search .search {
  display: none;
  position: absolute;
  left: 0;
  top: 15px;
  width: calc(100% - 30px);
  height: 100%;
}
.header-search .search .input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #dedede;
}
.header-search .search button {
  display: none;
}
.header-search__icon:hover {
  cursor: pointer;
}
.header-search__icon .icon {
  width: 30px;
  height: 30px;
}
.top-line__contact {
  position: relative;
}
.contact-phone {
  font-size: 18px !important;
  margin-bottom: 20px;
  font-weight: 700;
}
.akkord-el {
  margin-bottom: 20px;
}
.akkord-el__head {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #efefef;
  border-radius: 5px;
}
.akkord-el__head:hover {
  cursor: pointer;
}
.akkord-el__head .icon {
  width: 15px;
  height: 15px;
}
.akkord-el__head-name {
  font-weight: 700;
  text-transform: uppercase;
}
.akkord-el__head-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.akkord-el__list {
  background: #fafafa;
  padding: 20px;
  display: none;
}
.table {
  margin: 30px 0;
}
.nav-toggle span {
  display: inline-block;
  margin-left: 10px;
}
.section table {
  max-width: calc(100vw - 20px);
  overflow: auto;
  display: block;
  height: auto !important;
}
.section table td {
  width: auto !important;
}
.top-line-el-info {
  display: flex;
}
.top-line-el-info--call .icon {
  display: block;
  width: 20px;
  height: 20px;
}
.header-mail-val {
  color: #5da06b;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.cookie {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 20px;
  background: #5da06b;
  font-size: 14px;
  z-index: 10;
  transition: all 0.8s;
  transform: translateY(100%);
  color: #fff;
}
.cookie--active {
  transform: translateY(0%);
}
.cookie-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.cookie__msg {
  line-height: 1.6;
}
.cookie__msg-close {
  padding: 5px 10px;
  color: #5da06b;
  border: 1px solid #5da06b;
  border-radius: 5px;
  margin-left: 20px;
  display: inline-block;
  background: #fff;
}
.cookie__msg-close:hover {
  cursor: pointer;
}
.cookie__msg-close .icon {
  width: 10px;
  height: 10px;
  fill: #000;
}
.slider__el {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider__el img {
  max-height: 300px;
  margin: 0 auto !important;
  width: initial !important;
}
@media only screen and (max-width: 1280px) {
  .section--tablet .section-call {
    width: 100%;
  }
  .section--tablet .section-wrap__img {
    background-image: none !important;
  }
}
@media only screen and (max-width: 1024px) {
  .header-search {
    display: none !important;
  }
  .top-line-info {
    width: 75%;
  }
}
@media only screen and (max-width: 960px) {
  .top-line-info {
    width: auto;
  }
  .advance {
    margin-top: 20px;
  }
  .section--union {
    background-image: url("/wp-content/themes/CGIKU/img/house-megevanie.png") !important;
    background-position: center center;
  }
}
@media only screen and (max-width: 768px) {
  .news__el {
    width: calc(1 / 2 * 100% - (1 - 1 / 2) * 40px);
  }
  .menu-mobile-calc {
    display: block !important;
  }
}
@media only screen and (max-width: 640px) {
  .cookie {
    display: none;
  }
  .cookie-wrap {
    flex-wrap: wrap;
    width: 100%;
    font-size: 10px;
    text-align: center;
  }
  .cookie__msg-close {
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }
  .main-service__col-wrap .main-service__el {
    width: 100%;
  }
  .lp-baner__title-status {
    width: 100%;
    text-align: center;
  }
  .advance--single .advance-text {
    font-size: 12px;
  }
  .footer-mail {
    justify-content: center;
  }
  .footer-info-wrap {
    width: 100%;
  }
  .lp-small-head .lp-baner__title {
    font-size: 22px;
  }
  .news__el {
    width: 100%;
  }
  .questions-more {
    padding-bottom: 40px;
  }
}
@media only screen and (min-width: 769px) {
  .menu-wrap {
    display: block !important;
  }
}
