.recall-el {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ececec;
  margin-bottom: 20px;
  width: 100%;
}
.recall-head {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.recall-head__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 8px;
}
.recall-head__name {
  font-weight: 700;
}
.recall-date-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.star-row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.star-row img {
  width: 18px;
  margin-right: 4px;
}
.recall-date-val {
  font-weight: 700;
  margin-left: 10px;
}
.recall-info {
  line-height: 1.6;
}
