.main-service__title-sub
	a
		text-decoration: underline

.footer-info__mail
	display: inline-block

.top-line-loc-el--mail
	margin-left: 15px

.footer-mail
	margin-top: 20px
	.icon
		width 15px
		height 15px
		margin-right: 10px
	display: flex
	align-items: center

.advance--single
	margin-top: 20px
	.advance-icon
		padding: 20px
		.icon
			width: 40px
			height: 40px
	.advance-text
		font-size: 14px
		width: 80%
		margin-left: 20px


.advance--single-title
	font-size: 18px
	margin: 40px 0
	text-align: center

.news__el
	width: 31%

li
	line-height: 1.6

.cost-inform--calc
	margin-bottom: 30px

.lp-baner-filter
	background: rgba(255, 255, 255, 0.9);

.list-items
	list-style: none
	padding-left: 0
	span
		font-weight: bold

.footer-info-wrap
	width: 25%
#vk_groups
	margin-top: 20px
	width: 100%
.footer-container
	align-items: flex-start

.get-sale__add-text
	text-align: center
	margin-bottom: 30px
	margin-top: -20px
.footer-list__menu
	li
		font-size: 14px
	.menu-item
		text-transform: initial
.section-title-sub
	margin-top: -20px
	margin-bottom: 40px

.main-service__col-wrap
	display: flex
	flex-wrap wrap
	justify-content: space-between
	.main-service__el
		width: 49%
.main-service__col
	width: 100%
	margin-bottom: 30px
	border 0!important
.menu-wrap
	li
		margin-bottom: 0

.section--main-service
	padding: 50px 0 0 0

.box--sm
	p
		font-size: 14px

.lp-small-head
	padding: 100px 0
	height: auto
	.lp-baner__wrap
		justify-content: center
	.lp-baner__content
		width: 100%
		display: flex
		align-items: center
		justify-content: center
		flex-flow column
	.lp-baner__title
		text-align: center
		font-size: 32px
	.lp-baner__title-sub
		text-align: center
	.header__get
		justify-content: center
.box--sm
	p
		font-size: 14px
	li
		font-size: 14px
.section--tablet
	padding: 50px 0
	.section-call
		width: 100%

.cost-inform
	font-size: 12px

.get-sale-row
	margin-top: 30px

.menu-mobile-calc
	display: none!important

.link--mark
	text-decoration: underline

.header-search
	.search
		display: none
		position: absolute;
		left: 0;
		top: 15px;
		width: calc(100% - 30px)
		height: 100%;
		.input
			width: 100%
			border 0
			border-bottom 1px solid #dedede
		button
			display: none
.header-search__icon
	&:hover
		cursor pointer
	.icon
		width 30px
		height 30px

.top-line__contact
	position: relative

.contact-phone
	font-size: 18px!important
	margin-bottom: 20px
	font-weight: 700

.akkord-el
	margin-bottom: 20px
.akkord-el__head
	padding: 10px 20px
	display: flex
	justify-content: space-between
	align-items: center
	background: #efefef
	border-radius 5px
	&:hover
		cursor pointer
	.icon
		width: 15px
		height: 15px
.akkord-el__head-name
	font-weight:700
	text-transform: uppercase
.akkord-el__head-icon
	display: flex
	align-items: center
	justify-content: center
.akkord-el__list
	background: #fafafa
	padding: 20px
	display: none

.table
	margin: 30px 0

.nav-toggle
	span
		display: inline-block
		margin-left: 10px

.section
	table
		max-width calc(100vw - 20px)
		overflow: auto
		display: block
		height: auto!important
		td
			width auto!important

.top-line-el-info
	display: flex

.top-line-el-info--call
	.icon
		display: block
		width: 20px
		height: 20px
.header-mail-val
	color #5da06b
	font-weight: 700
	font-size: 14px
	display: flex
	align-items center

.cookie
	width: 100%
	position: fixed
	left 0
	bottom 0
	padding: 20px
	background: #5da06b
	font-size: 14px
	z-index 10
	transition all .8s
	transform translateY(100%)
	color white
.cookie--active
	transform translateY(0%)


.cookie-wrap
	position relative
	display flex
	justify-content space-between
	align-items flex-start
	width: 80%
	margin-left auto
	margin-right auto
.cookie__msg
	line-height: 1.6

.cookie__msg-close
	padding: 5px 10px
	color #5da06b
	border 1px solid #5da06b
	border-radius 5px
	margin-left: 20px
	display inline-block
	background: white
	&:hover
		cursor pointer
	.icon
		width 10px
		height 10px
		fill black

.slider__el
	display: flex
	align-items center
	justify-content center
	img
		max-height 300px
		margin:0 auto!important
		width initial!important

.hospital
	text-align center
	padding: 15px
	border-radius 10px
	border 1px solid #ed9872
	margin 20px auto 60px auto
	max-width 800px
	background: #fdece5

.personal-full__el-text
	li
		font-size: 14px

.menu__list, .services_list
	ul
		counter-reset: mylist
	li
		counter-increment: mylist
		margin: 5px 0
		border 0 !important
	li::before
		content: "" counters(mylist, ".") ". "
	margin-bottom: 50px
.menu__list a, .services_list a
	display: inline!important
	text-decoration: underline!important



.menu-kadastrovye-raboty-container
	.menu__list
		padding-left: 30px

.news--list
	display: grid
	grid-gap 20px
	grid-template-columns: repeat(auto-fill, minmax(18rem,1fr))
	.news__el
		width: 100%!important
		padding: 20px 25px
		border 1px solid #f5f4f4
		margin: 0 !important
		border-radius 10px
	.news__el-title
		text-transform: none
		font-size: 14px
		margin-bottom: 10px
	.news__el-date
		font-weight: 700
		color green
		font-size: 12px
.main-service__read-more
	width: 35%
	margin-right: 10px
.main-service__btn-get
	font-size: 10px


.article-advant-wrap
	background: #f7f7f7
	padding: 50px 0
	margin: 50px 0
.article-advant
	display: flex
	justify-content space-between
	align-items center
	padding: 40px
	line-height: 1.4
.article-advant__info
	width: 50%
.article-advant__title
	color black
	font-size: 48px
	font-weight: 700
	margin-bottom: 20px
.article-advant__text
	line-height:1.8
	margin-bottom: 20px
.article-advant__more
	background:#5da06b
	color white
	text-transform: none
.article-advant__img
	width: 35%
	display: flex
	align-items center
	justify-content center
	img
		width: 100%
		max-width 300px

.date-article
	margin: 20px 0

// recall
.recall-el
	padding: 20px
	border-radius 10px
	border 1px solid #ececec
	margin-bottom: 20px
	width: 100%
.recall-head
	display: flex
	align-items center
	margin-bottom: 12px
.recall-head__img
	width 40px
	height: 40px
	border-radius 50%
	background-size cover
	background-repeat: no-repeat
	margin-right: 8px
.recall-head__name
	font-weight: 700
.recall-date-wrap
	display: flex
	align-items center
	margin-bottom: 16px
.star-row
	display: flex
	align-items center
	justify-content center
	img
		width: 18px
		margin-right: 4px
.recall-date-val
	font-weight: 700
	margin-left: 10px
.recall-info
	line-height: 1.6
// recall === end

/*.modal-layer-show.modal-layer--add
	z-index 1010!important
.modal-layer--add
	z-index 10!important*/

.modal-wrap
	position: fixed
	width: 100%
	height: 100%
	overflow-y auto
	display: flex
	align-items center
	justify-content center

.text
	p
		font-size: 14px
	ul
		li
			font-size: 14px

@media only screen and (max-width: 1280px)
	.section--tablet
		.section-call
			width: 100%
		.section-wrap__img
			background-image: none!important
@media only screen and (max-width: 1024px)
	.article-advant__img
		display none
	.article-advant__info
		width: 100%
	.header-search
		display: none!important
	.top-line-info
		width: 75%
@media only screen and (max-width: 960px)
	.top-line-info
		width: auto
	.advance
		margin-top: 20px
	.section--union
		background-image: url('/wp-content/themes/CGIKU/img/house-megevanie.png')!important
		background-position: center center
@media only screen and (max-width: 768px)
	.article-advant__title
		font-size: 28px
	.news__el
		width: calc(1/2*100% - (1 - 1/2)*40px)
	.menu-mobile-calc
		display: block!important

@media only screen and (max-width: 640px)
	.article-advant__more
		width: 100%
	.article-advant-wrap
		padding: 30px 0
	.article-advant
		padding: 0
	.main-service__read-more
		width: 150px
		margin 0 0 20px 0
	.cookie
		display none
	.cookie-wrap
		flex-wrap wrap
		width: 100%
		font-size: 10px
		text-align center
	.cookie__msg-close
		width: 100%
		margin-top: 10px
		text-align center
	.main-service__col-wrap
		.main-service__el
			width: 100%
	.lp-baner__title-status
		width: 100%
		text-align: center
	.advance--single
		.advance-text
			font-size: 12px
	.footer-mail
		justify-content: center
	.footer-info-wrap
		width: 100%
	.lp-small-head
		.lp-baner__title
			font-size: 22px
	.news__el
		width: 100%
	.questions-more
		padding-bottom: 40px
@media only screen and (min-width: 769px)
	.menu-wrap
		display: block !important

//@media only screen and (max-width: 768px)
//@media only screen and (max-width: 640px)

