.main-service__title-sub
	a
		text-decoration: underline

.footer-info__mail
	display: inline-block

.top-line-loc-el--mail
	margin-left: 15px

.footer-mail
	margin-top: 20px
	.icon
		width 15px
		height 15px
		margin-right: 10px
	display: flex
	align-items: center

.advance--single
	margin-top: 20px
	.advance-icon
		padding: 20px
		.icon
			width: 40px
			height: 40px
	.advance-text
		font-size: 14px
		width: 80%
		margin-left: 20px


.advance--single-title
	font-size: 18px
	margin: 40px 0
	text-align: center

.news__el
	width: 31%

li
	line-height: 1.6

.cost-inform--calc
	margin-bottom: 30px

.lp-baner-filter
	background: rgba(255, 255, 255, 0.9);

.list-items
	list-style: none
	padding-left: 0
	span
		font-weight: bold

.footer-info-wrap
	width: 25%
#vk_groups
	margin-top: 20px
	width: 100%
.footer-container
	align-items: flex-start

.get-sale__add-text
	text-align: center
	margin-bottom: 30px
	margin-top: -20px
.footer-list__menu
	li
		font-size: 14px
.section-title-sub
	margin-top: -20px
	margin-bottom: 40px

.main-service__col-wrap
	display: flex
	flex-wrap wrap
	justify-content: space-between
	.main-service__el
		width: 49%
.main-service__col
	width: 100%
	margin-bottom: 30px
	border 0!important
.menu-wrap
	li
		margin-bottom: 0

.section--main-service
	padding: 50px 0 0 0

.box--sm
	p
		font-size: 14px

.lp-small-head
	padding: 100px 0
	height: auto
	.lp-baner__wrap
		justify-content: center
	.lp-baner__content
		width: 100%
		display: flex
		align-items: center
		justify-content: center
		flex-flow column
	.lp-baner__title
		text-align: center
		font-size: 32px
	.lp-baner__title-sub
		text-align: center
	.header__get
		justify-content: center
.box--sm
	p
		font-size: 14px
	li
		font-size: 14px
.section--tablet
	padding: 50px 0
	.section-call
		width: 100%

.cost-inform
	font-size: 12px

.get-sale-row
	margin-top: 30px

.menu-mobile-calc
	display: none!important


@media only screen and (max-width: 1280px)
	.section--tablet
		.section-call
			width: 100%
		.section-wrap__img
			background-image: none!important
@media only screen and (max-width: 1024px)
	.top-line-info
		width: 75%
@media only screen and (max-width: 960px)
	.top-line-info
		width: auto
	.advance
		margin-top: 20px
	.section--union
		background-image: url('/wp-content/themes/CGIKU/img/house-megevanie.png')!important
		background-position: center center
@media only screen and (max-width: 768px)
	.news__el
		width: calc(1/2*100% - (1 - 1/2)*40px)
	.menu-mobile-calc
		display: block!important
@media only screen and (max-width: 640px)
	.main-service__col-wrap
		.main-service__el
			width: 100%
	.lp-baner__title-status
		width: 100%
		text-align: center
	.advance--single
		.advance-text
			font-size: 12px
	.footer-mail
		justify-content: center
	.footer-info-wrap
		width: 100%
	.lp-small-head
		.lp-baner__title
			font-size: 22px
	.news__el
		width: 100%
	.questions-more
		padding-bottom: 40px
@media only screen and (min-width: 769px)
	.menu-wrap
		display: block !important

//@media only screen and (max-width: 768px)
//@media only screen and (max-width: 640px)
